.DS_Store
node_modules/
tmp/
output/
assets/lighting/
vendor/pathtracer/*
!vendor/pathtracer/LICENSE
!vendor/pathtracer/package.json
!vendor/pathtracer/build/
vendor/pathtracer/build/*
!vendor/pathtracer/build/index.module.js
vendor/bvh/*
!vendor/bvh/LICENSE
!vendor/bvh/package.json
!vendor/bvh/build/
vendor/bvh/build/*
!vendor/bvh/build/index.module.js
.env
.env.*
